<%- include('partials/header') %>
<section id="top-section">
    <div>
        <h1>Ci sono miliardi di persone in questo mondo.<br>Come raggiungi i clienti giusti per te?</h1>
        <div class="video-container">
            <video autoplay loop muted poster="/assets/poster.jpg">
                <source src="/assets/top-video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<%- include('partials/footer') %>